.reportPage {
    background-color: #ffffffc4;
    background: linear-gradient(180deg, #ffffff 0%, #ffffffe0 100%);
    width: 100%;
    height: 16rem;
    margin-bottom: -4rem;
    border-radius: 2px 2px 0px 0px;
    overflow: hidden;
    color: #230236c4;
    opacity: 0.78;
    padding: 1rem;
}

.reportPageHeader {
    padding: 0rem 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    opacity: 0.75;

    > div {
        display: flex;
        align-items: center;
    }

    img {
        width: 32px;
        transform: rotate(35deg);
        display: inline-block;
        margin-right: 0.8rem;
        opacity: 0.8;
    }
    
    h4 {
        font-weight: 400;
        display: inline-block;
        font-size: 0.8rem;
    }

    p {
        font-size: 0.7rem;
    }
}

.reportPageContent {
    padding: 1rem;
}

.reportPageColumns {
    display: flex;
    justify-content: space-between;
    font-size: 0.8rem;
}

.ratingSpeedometer {
    width: 124px;
    height: 124px;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: conic-gradient(from 144deg, transparent 0%, rgba(255, 255, 255, 0) 20%, #b97144 20%, #b97144 35.5%, #fff 36%, #d39a64 36.5%, #d39a64 51.5%, #fff 52%, #d8d168 52.5%, #d8d168 67.5%, #fff 68%, #9db85e 68.5%, #9db85e 83.5%, #fff 84%, #5a8f53 84.5%, #5a8f53 92.6%, transparent 92.6%);
}

.ratingSpeedometerInner {
    background-color: #fff;
    width: 70%;
    height: 70%;
    border-radius: 100px;
    box-shadow: 0px 0px 5px #0000003f;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
}